@model DBStoreSport.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>XÓA SẢN PHẨM</h1>

<h3>Bạn có chắc là muốn xóa sản phẩm này ?</h3>
<div>
    <hr />
    <div>
        <span><strong>Tên Sản Phẩm:</strong> @Html.DisplayFor(model => model.NamePro)</span> <br />
        <span><strong>Mô Tả:</strong> @Html.DisplayFor(model => model.NamePro)</span> <br />
        <span><strong>Đơn giá:</strong> @Html.DisplayFor(model => model.DecriptionPro)</span> <br />
        <span><strong>Hình:</strong> @Html.DisplayFor(model => model.ImagePro)</span> <br />
        <img src="~/Content/Images/@Model.ImagePro" alt="Product Image" style="width: 200px; height: 200px;" /> <br />
        <span><strong>Loại Sản Phẩm:</strong> @Html.DisplayFor(model => model.Category1.NameCate)</span> <br />
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions  
 no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    }
</div> 1   

</div>
