@model IEnumerable<DBStoreSport.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #2E3440;
        color: #D8DEE9;
    }

    .table {
        background-color: #3B4252;
    }

        .table th {
            background-color: #4C566A;
            color: #ECEFF4;
        }

        .table td {
            color: #E5E9F0;
        }

    h1 {
        color: #88C0D0;
    }

    a {
        color: #81A1C1;
    }

        a:hover {
            color: #5E81AC;
        }
</style>
<h2>LOẠI SẢN PHẨM</h2>

<a href="@Url.Action("Create")" class="btn btn-link">Thêm Loại Sản phẩm mới</a>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Mã Loại</th>
            <th>Tên Loại</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IDCate</td>
                <td>@item.NameCate</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.IDCate })">Sửa</a> |
                    <a href="@Url.Action("Details", new { id = item.IDCate })">Chi tiết</a> |
                    <a href="@Url.Action("Delete", new { id = item.IDCate })">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>