@model IEnumerable<DBStoreSport.Models.OrderPro>

@{
    ViewBag.Title = "DANH SÁCH CÁC ĐƠN HÀNG";
}
<style>
    body {
        background-color: #2E3440;
        color: #D8DEE9;
    }

    .table {
        background-color: #3B4252;
    }

        .table th {
            background-color: #4C566A;
            color: #ECEFF4;
        }

        .table td {
            color: #E5E9F0;
        }

    h1 {
        color: #88C0D0;
    }

    a {
        color: #81A1C1;
    }

        a:hover {
            color: #5E81AC;
        }
</style>

<h2>DANH SÁCH CÁC ĐƠN HÀNG</h2>

<a href="@Url.Action("Create")" class="btn btn-link">Tạo Đơn Hàng Mới</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ngày Giao Hàng</th>
            <th>Địa chỉ Giao hàng</th>
            <th>Khách hàng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DateOrder?.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
                <td>@item.AddressDeliverry</td>
                <td>@item.Customer?.NameCus</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.ID })">Cập Nhật</a> |
                    <a href="@Url.Action("Details", new { id = item.ID })">Chi Tiết</a> |
                    <a href="@Url.Action("Delete", new { id = item.ID })">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
